.ver
	text-decoration none
	color #D7F2FF
	font-size 1.2em
	position relative
	&:after
		content ">"
		color #D7F2FF
		position absolute
		top 2px
		right -18px



body
	background  #5F9EA0

	#ContForm
		background #5F9EA0
		position relative
		display block
		box-shadow 0px 0px 5px
		padding 6px

		#formMuestra
			width 100%
			height auto
			p
				margin 0
				font-size 16px
				color #FAEBD7
				text-align center
				padding 9px
			form
				padding-right 30px
				margin-bottom 8px
				ul
					margin 0
					padding 0
					font-size 0.8em
					li
						text-align right
						margin-top 6px
						input
							margin 0 10px 0 10px
							height 25px
							padding 2px 0 3px 3px
							border-left 3px solid #FFF
							background #207D88
							color #FFF
							border-top none
							border-bottom none
							border-right none
							width 80%
						textarea
							margin 0 10px 0 10px
							height 90px
							padding 2px 0 3px 3px
							border-left 3px solid #FFF
							background #207D88
							color #FFF
							border-top none
							border-bottom none
							border-right none
							width 80%
							resize none
						button
							margin 0 10px 0 10px
							height 25px
							padding 2px 0 3px 3px
							border none
							background #207D88
							color #FFF
							width 38%
		#btn_OyM
			height 58px
			background #5F9EA0
			width 77px
			position absolute
			left 76%
			text-align center
			border-radius 0 0 0px 59px
			color #FFF
			line-height 42px
			box-shadow 0 1px 2px #335657
			margin 0
			padding 0
	header
		display block
		text-align center
		padding-top 22px
		background #F5F5DC
		color #5F9EA0
		padding-bottom 13px
		
		img
			width 100px
			height 100px
		h1
			padding 0px
			margin 1px 0px
			font-size 2.2em
	nav
		height 36px
		width 100%
		background #D3BD97
		overflow-y hidden
		ul
			float left
			padding 6px 0
			margin 0
			list-style none
			display flex
			li
				float: left;
				display: inline-table;
				padding: 4px 15px;
	section
		article
			text-align center
			padding 0 21px
			h2
				font-size: 1.3em
				text-align center
				line-height 28px
				padding 0 21px
				color #FFE
				font-weight lighter
				strong
					font-size: 1.4em;